body {
    background: #F1F1F1;
    background: -moz-linear-gradient(top, #F1F1F1 0%, #E10900 100%);
    background: -webkit-linear-gradient(top, #F1F1F1 0%, #E10900 100%);
    background: linear-gradient(to bottom, #F1F1F1 0%, #E10900 100%);
    }
h1 {
    font-size: 50;
    font: "Arial black";
}
#abilities {
    font-size: 20;
    font: "Arial black";
}
#weight {
    font-size: 15;
    font: "Ariel black";
}

